$headerShadow: #00000029;
@mixin flexCenter() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.headerStyles {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px $headerShadow;
}
.headerItems {
  @include flexCenter();
  margin: 0 auto;
  padding: 10px 0;
  width: 90%;
}

.headerItems img:nth-child(1) {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.headerItems img:nth-child(2) {
  cursor: pointer;
  width: 90px;
  height: 55px;
}
.headerItems img:nth-child(3) {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
